:root {
    --globalWhiteColor: #FFFFFF;
    --menuItemsHoverColor: #FFDD33;
    --contactButtonColor: #0F3FD3;
    --aboutUsColor: #FBFCFE;
    --paragraphTagColor: #ccc;
    --boxShadowColor: #2426721C;
    --boxSpecialHeader3: #000000;
    --boxSpecialParagraph: #7E92AC;
    --sliderColor: #d8d8d8;
    --sliderColorButton: #373855;
    --contactBackgroundColor: #FCFDFF;
    --contactBorderColor: #C3CCE8;
    --sendMessageButton: #255AFF;
    --mobileMenuColor: #282828;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main {
    background-image: url(./images/bg-1.svg);
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 20px 0 80px 0;
}

.menu {
    display: flex;
    width: 100%;
}

.menuLogo {
    width: 50%;
}

.menuItems {
    width: 50%;
    text-align: right;
}

.menuItems a {
    font-weight: bold;
    color: var(--globalWhiteColor);
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.menuItems a:hover {
    border-bottom: 2px solid var(--menuItemsHoverColor);
}

.menuItems a.contactButton {
    background-color: var(--contactButtonColor);
    padding: 10px 10px;
    border-radius: 10px;
}

.menuItems a.contactButton:hover {
    border: 0;
}

.mock {
    display: block;
    width: 100%;
    color: var(--globalWhiteColor);
    text-align: center;
    padding-top: 100px;
}

.mock h1 {
    font-size: 50px;
}

.mock img {
    max-width: 100%;
}

section.brands {
    padding: 100px 0;
}

section.brands img {
    width: calc(100% / 5);
}

section.aboutUs {
    padding: 40px 0;
    background-color: var(--aboutUsColor);
}

section.aboutUs>.center>h2 {
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.aboutUs>.center {
    max-width: 1280px;
}

section.aboutUs>.center>p {
    font-size: 14px;
    color: var(--paragraphTagColor);
    text-align: center;
    width: 100%;
}

.special {
    display: flex;
    margin-top: 50px;
}

.boxSpecial {
    box-shadow: 0px 20px 40px var(--boxShadowColor);
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 10px;
}

.boxSpecial h3 {
    font-size: 28px;
    margin: 20px 0;
    color: var(--boxSpecialHeader3);
}

.boxSpecial p {
    font-size: 13px;
    color: var(--boxSpecialParagraph);
    margin-bottom: 20px;
}

section.callToAction {
    background-image: url(./images/banner.svg);
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    color: var(--globalWhiteColor);
    text-align: center;
}

section.callToAction h2,
section.callToAction h4 {
    font-weight: normal;
    margin: 10px 0;
}

section.callToAction h2 {
    font-size: 40px;
}

section.callToAction a {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
    background: var(--menuItemsHoverColor);
    text-decoration: none;
    color: var(--contactButtonColor);
}

section.advantages {
    padding: 50px 0;
}

.listAdvantages {
    width: 40%;
    margin-top: 30px;
}

.listAdvantages h1 {
    color: var(--boxSpecialHeader3);
    font-size: 40px;
}

.listAdvantages p {
    color: var(--boxSpecialParagraph);
    vertical-align: middle;
    font-size: 14px;
}

.listAdvantages span {
    display: inline-block;
    width: calc(100% - 70px);
}

.listAdvantages img {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.imageAdvantages {
    width: 60%;
}

.imageAdvantages img {
    max-width: 100%;
}

.divBtn {
    text-align: center;
}

.middleBtn {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
    background: var(--contactButtonColor);
    text-decoration: none;
    color: var(--globalWhiteColor);
    margin-top: 50px;
}

section.reviews {
    background-color: var(--aboutUsColor);
    padding: 40px 0;
}

section.reviews>h1 {
    text-align: center;
    font-size: 50px;
}

.sliderContainer {
    overflow: hidden;
    max-width: 1200px;
    padding: 40px 0;
}

.singleSliderContainer {
    float: left;
    background-color: var(--globalWhiteColor);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.singleSliderContainer p {
    margin: 15px 0;
    color: var(--boxSpecialParagraph);
    font-size: 14px;
}

.slick-slide {
    margin-left: 27px;
}

.slick-list {
    margin-left: -27px;
}

.slick-dotted ul {
    display: block;
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 30px;
}

.slick-dotted li {
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus {
    outline: 0;
}

.slick-dotted li button {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: var(--sliderColor);
    border-width: 0;
    background: var(--sliderColor);
    opacity: 1;
    cursor: pointer;
}

li.slick-active button {
    background: #373855;
    color: #373855;
}


.slick-slide:focus {
    outline: none;
}



section.contact {
    padding: 40px 0;
    text-align: center;
}

section.contact h1 {
    font-size: 50px;
}

section.contact form {
    width: 100%;

}


.contact input[type=text],
.contact input[type=email] {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    background: var(--contactBackgroundColor);
    border: 1px solid var(--contactBorderColor);
    padding-left: 10px;
}

.contact textarea {
    width: 100%;
    height: 120px;
    margin: 20px 0;
    border-radius: 10px;
    background: var(--contactBackgroundColor);
    border: 1px solid var(--contactBorderColor);
    padding: 10px;
    resize: vertical;
}

.contact input[type=submit] {
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 0;
    background: var(--contactButtonColor);
    color: var(--globalWhiteColor);
    font-size: 18px;
    border-radius: 10px;
}

footer {
    padding: 10px 0;
    background: var(--sendMessageButton);
    color: var(--globalWhiteColor);

}

.footerText {
    width: 50%;
    padding: 8px 0;
}

.menuItemsMobile {
    width: 50%;
    text-align: right;
    display: none;
}

.menuItemsMobile i {
    color: var(--globalWhiteColor);
    position: relative;
    top: 15px;
    font-size: 23px;
    cursor: pointer;

}

@media screen and (max-width: 768px) {

    .menuItemsMobile {
        display: block;

    }

    .mobileMenu {

        opacity: 0;
        transition: 1s;
        position: absolute;
        left: 0;
        top: 65px;
        background-color: var(--globalWhiteColor);
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }

    .mobileMenu a {
        text-align: center;
        display: block;
        margin: 8px 0;
        color: var(--mobileMenuColor);
        text-decoration: none;
        font-weight: bold;
        border-bottom: 1px solid var(--mobileMenuColor);
        padding: 8px 0;
    }

    section.main .menuItems {
        display: none;
    }

    footer .menuItems {
        width: 100%;
        text-align: center;
    }

    footer .menuItems a {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    .footerText {
        width: 100%;
        text-align: center;
        padding: 8px 0;
    }

    .listAdvantages,
    .imageAdvantages {
        width: 100%;
        margin-bottom: 30px;
    }


    .special {
        flex-wrap: wrap;
    }

    .boxSpecial {
        width: 100%;
        margin-right: 0;
    }

    section.brands>.center {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    section.brands img {
        max-width: 300px;
        width: 100%;
    }
}

#signature {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
